*{
	padding: 0px;
	margin: 0px;
}

/*body {background: #ccc;}*/

.container{
	width: 100%;
}

.container-title{
	height: 70px;
	background-color: #273240;
	border-bottom: 2px solid #4778BD;
	box-shadow: 2px 2px 5px 5px #aaaaaa;
}

.container-title h1{
	text-align: center;
	font-size: 30px;
	color: #4778BD;
	padding-top: 18px;
}
.container-title h1 span{
	font-size: 32px;
	color: #5CBC5F;
}

.img-detail-container{

}

.img-slider{
	width: 70%;
	float: left;
}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 70px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
	width: 640px;
	height: 320px;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
	width: 100px;
	height: 80px;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

.car-detail{
	min-width: 200px;
	min-height: 200px;
	background-color: #cccccc;
	float: left;
	margin-top: 120px;
	margin-left: 50px;
	margin-right: auto;
}