*{
	padding: 0px;
	margin: 0px;
}

/*body {background: #ccc;}*/

.container{
	width: 100%;
}

.container-title{
	height: 70px;
	background-color: #273240;
	border-bottom: 2px solid #4778BD;
	box-shadow: 2px 2px 5px 5px #aaaaaa;
}

.container-title h1{
	text-align: center;
	font-size: 30px;
	color: #4778BD;
	padding-top: 18px;
}
.container-title h1 span{
	font-size: 32px;
	color: #5CBC5F;
}

.img-detail-container{

}

.img-slider{
	width: 100%;
}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 70px auto;
	
	/*Lets add a shadow*/
	/*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);*/
}

/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
	width: 640px;
	height: 320px;
	object-fit: contain;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;

	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
	width: 100px;
	height: 80px;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	transform: scale(1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	transform: scale(1);
}
.bottom-content-view{
	margin: 70px auto;
	width: 640px;
}
.test-image-upload{
	text-align: center;
	width: 33%;
	float: left;
}
.test-image-title{
	font-size: 18px;
	font-weight: 600;
}
.test-image-input{
	margin-top: 10px;
}
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-file + label {
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	padding: 5px 20px;
	background-color: #273240;
	display: inline-block;
}
.input-file:focus + label,
.input-file + label:hover {
	color: #5CBC5F;
}
.input-file + label {
	cursor: pointer; /* "hand" cursor */
}
.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.car-detail{
	text-align: center;
	width: 33%;
	float: left;
}
.car-plate{
	width: 160px;
	height: 50px;
	background-color: #cccccc;
	margin: 0 auto;
	padding: 10px 0px;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.car-plate-upper{
	font-size: 14px;
}
.car-plate-lower{
	font-size: 16px;
	font-weight: 900;
}
.number-plate{
	width: 33%;
	float: right;
}
.number-plate img{
	height: 50px;
	width: 160px;
	position: absolute;
	object-fit: contain;
}
.footer{
	margin-top: 100px;
	width: 100%;
	height: 70px;
	background-color: #273240;
	left: 0;
	bottom: 0;
}
.footer p{
	text-align: center;
	padding-top: 25px;
	font-size: 16px;
	font-weight: 600;
	color: #4778BD;
}